---
layout: default
title: "Home"
---

​I am a Senior Lecturer in the School of Computer Science at the University of Glasgow, UK. Before I came to Glasgow, I was an Associate Professor at Fudan University, Shanghai, China. I earned my Ph.D.  at University of California, Irvine, USA. in 2010.

My current research focuses on healthcare technologies, particularly on issues of preventive health, health literacy, mental wellbeing and peer-support approaches, and how ICTs such as health sensing, social media and other collaborative technologies can be better employed to address some of these issues. Besides healthcare, I have also been studying aging, disability, and sustainability,  and exploring approaches including social transparency, crowdsourcing, self-tracking, online community, mobile sharing and others in relation to these issues. My goal is that computing technologies can be designed to unlock the potential of individuals,  support collaborations to promote individual and social wellbeing, and create positive societal impact. 

My research is generally in the areas of Human Computer Interaction(HCI),  Computer Supported Cooperative Work (CSCW), and Ubiquitous Computing (Ubicomp). Specifically, I am working at the intersection of computer science and social science.  As computing technologies are increasingly woven into the fabric of everyday lives, we cannot easily separate technical problems from its social context anymore. By combining social and technical approaches, I hope to better understand the roles computing technologies play and design technologies to fit into social practices.
{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}
