@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --bgOrange: #e84949;
}
  
#wrapper{
    height:100vh;
    overflow-y:auto;
    overflow-x: hidden;
}

.container{
    width:1200px;
    margin:0 auto;
}

.navbar{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding-top:1rem;
}

.logo{
    width:80px;
}

.logo-container{
    display:flex;
    justify-content: baseline;
    align-items: center;
}

.logo-text{
    margin-left:-1.6rem;
    font-size:28px;
}

.nav-items{
    display:flex;
    gap:2rem;
    padding: 0 4em;
}

.nav-items div{
    font-size:20px;
    font-weight:500;
    cursor:pointer;
   
}
.nav-items div a{
    color:black;
    /* transition: all 5s ease; */
}

a{
    text-decoration: none;
}


.nav-items div:hover{
    transition:0.8s;
    font-weight: bold;
}

.hero-section{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.faded-text{
    position:absolute;
    user-select:none;
    font-size: 7em;
    color:rgb(231,231,231);
    
    bottom: -16%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
}

.hero-section-left{
    /* width:100%; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 2rem;
    width: 100%;
}

.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role{
    color: #4e45d5;
    font-weight: 800;
}

.hero-section-sub-heading{
    font-size: 45px;
    line-height: 45px;
}

.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
    font-size: larger;
    width: 100%;
}

.btn-pink {
    background-color: var(--bgOrange);
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
  }
  .btn-pink::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
  }
  .btn-pink:hover::before {
    transform: scaleX(1);
  }
  .btn-pink:hover {
    border: solid 3px var(--bgOrange);
    color: black;
  }

  .hero-section-right{
    position:relative;
    width: 50%;
    height: 30%;
  }

  .absolute{
    position:absolute;
  }

  .user-image{
    padding:2.5rem;
    filter:grayscale(1);
    transition:all 1s;
    animation: scaleImage 5s linear infinite;
  }

  .user-image img{
    z-index:-9;
     width:100%;
    height:100%;
    filter: grayscale(0%);
    box-shadow: 0 0 20px #333;
    object-fit: cover;
  }

  @keyframes scaleImage {

    0%{
        filter:grayscale(0);
        transform:scale(1);
        
    }

    50%{
        transform:scale(1.1);
        filter:grayscale(0);
        box-shadow: 3px 3px 10px black;
    }

    100%{
        transform:scale(1);
        filter:grayscale(0);
    }
    
  }

  .icon-zigzag{
    z-index:9;
    top:1.5em;
    left:-0.3em;
    animation:zigzagAnimation 5s ease-in infinite;
  }

 

  /* .page-header{
    color:var(--bgOrange); 
     color:black
    font-size:50px;
    text-align:center;
    padding-top:30px;
  } */


  .icon{
    cursor:pointer;
    color:white;
    font-size:35px;
    transition:all 0.4s;
  }

  .icon:hover{
    color:var(--bgOrange);
  }

  

footer{
  position:relative;
  margin-top:-1px;
  background-color: #343d68;
  padding:5rem;
}

.footer-wrapper{
  display:flex;
  gap:1rem;
  padding:1.2rem;
  justify-content: space-between;
  align-items:center;
}

.footer-faded-text{
  position:absolute;
  left:0;
  bottom:0;color:#535c87;
  user-select:none;
  font-size:5em;
}

.link-wrapper{
  display:flex;
  gap:1.2rem;
}

.link-wrapper div a{
  color:white;
  text-decoration:none;
  transition:all 0.6s;
}

.link-wrapper div a:hover{
  color:var(--bgOrange);
}

.icon-wrapper{
  display:flex;
  gap:1rem;
}

.projects-article{

  margin: 2rem auto;
  max-width: calc(100% - 80px);
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(265px,1fr));
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;

  /* display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  margin-bottom: 4rem; */

}

.page-header{
  //color:var(--bgOrange); 
   color:black
  font-size:50px;
  text-align:center;
  padding-top:30px;
}



.article-image{
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.article-image img{
  /* max-width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0; */

   /* width:100%;
    height:auto; */
    width: 100%;
    height: 15vw;
    /* filter: grayscale(100%); */
    box-shadow: 0 0 20px #333;
    object-fit: cover;
}

.article-card{
  background: white;
  border-radius: 20px;
  transition: 0.3s;
  transform: scale(1.03);
  transition: 0.5s;
  filter: drop-shadow(0 0 10px #333);
}

.article-card:hover{
  box-shadow: 0 4px 20px 0 rgba(34,68,123,0.2);
  cursor: pointer;
  /* background-color: rgb(62, 62, 62);
  color: white; */
  cursor: pointer;
  transform: scale(1.10) ;
  transition:all 1s ease;



}

.article-content{
  padding: 2rem;

}

.article-content .card-category{
  font-size: 0.875 rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  color:#6b82a7;
  display: block;
  text-decoration: none;
}

.article-content .card-title{
  margin: 1rem 0;
  color: #22447b;
  align-content: center;

}

.article-content .card-excerpt{
  font-size: 1rem;
  line-height: 1.5rem;
  color:#6b82a7;
  margin: 0;
}

@media screen and (min-width:768px){
  .projects-article{
    max-width: 608px;
  }
  .article-card{
    display: grid;
    grid-template-rows: 220px 1fr ;
  }
}

@media screen and (min-width:1280px){
  .projects-article{
    max-width: 1156px;
  }
  .article-card{
    display: grid;
    grid-template-rows: 220px 1fr ;
  }
}

.article-image figcaption{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
  width: 100%;
  height: 20%;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  opacity: 0;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}

.article-image:hover figcaption {
  opacity: 1;
  transform: scale(1.03);
}  