
<article>
  <header><h1>{{ include.title | default: page.title }}</h1></header>
  <ul class="archive">
    {% for post in site.posts %}
     <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    </div>
    {% endfor %}
  </ul>
  
  <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}">{{ category_name }}</a>

{% for post in site.posts[category_name] %}
 <li>
 <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
 </li>
    {% endfor %}
 </article>


<article>
  <header><h1>{{ include.title | default: page.title }}</h1></header>
  <ul class="archive">
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</article>

