<footer>
  <p>Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
  </p>

  <h4>TransLoc Members</h4>
  <ul class="nav navbar-nav">
    <li><a href="http://www.cnrs.fr/" target="_blank"><img src="assets/images/CNRS.png" alt="CNRS" id="logoCNRS"></a></li>
    <li><a href="http://bbees.mnhn.fr/" target="_blank"><img src="assets/images/BBEES.png" alt="BBEES" id="logoBBEES"></a></li>
    <li><a href="http://www.mnhn.fr/fr" target="_blank"><img src="assets/images/MNHN.png" alt="MNHN" id="logoMNHN"></a></li>
    <li><a href="http://www.ese.u-psud.fr/" target="_blank"><img src="assets/images/ESE.png" alt="ESE" id="logoESE"></a></li>
    <li><a href="http://www.fpbm.ma/new/" target="_blank"><img src="assets/images/USMS.png" alt="Univ Sultan Moulay Slimane" id="logoUSMS"></a></li>											
    <li><a href="http://www.sorbonne-universites.fr/" target="_blank"><img src="assets/images/su.png" alt="Univ Sorbonne" id="logosu"></a></li>
    <li><a href="https://www.biotope.fr/" target="_blank"><img src="assets/images/.png" alt="Biotope" id="logoBiotope"></a></li>
    <li><a href="https://www.unibe.ch/index_eng.html" target="_blank"><img src="assets/images/bernU.png" alt="Bern University" id="logobernU"></a></li>
    <li><a href="https://www.universite-paris-saclay.fr/" target="_blank"><img src="assets/images/UPS.png" alt="Univ Saclay" id="logoUPS"></a></li>
    <li><a href="https://www.slu.se/" target="_blank"><img src="assets/images/SLU.png" alt="Swedish University of Agricultural Sciences" id="logoSLU"></a></li>
    <li><a href="http://www2.agroparistech.fr/" target="_blank"><img src="assets/images/APT.png" alt="AgroParisTech" id="logoAPT"></a></li>
    <li><a href="https://anr.fr/" target="_blank"><img src="assets/images/ANR.png" alt="ANR" id="logoANR"></a></li>
    <li><a href="http://cc.in2p3.fr/" target="_blank"><img src="assets/images/CC.png" alt="IN2P3" id="logoIN2P3"></a></li>
    <li><a href="http://cesco.mnhn.fr/" target="_blank"><img src="assets/images/cesco.png" alt="Cesco" id="logoCESCO"></a></li>
    <li><a href="https://www.fciencias-id.pt/" target="_blank"><img src="assets/images/FC.png" alt="FCiências.ID" id="logoFC"></a></li>
    <li><a href="https://www.uliege.be/cms/c_8699436/en/uliege" target="_blank"><img src="assets/images/liegeU.PNG" alt="ULiège" id="logoLiege"></a></li>						
    <li><a href="https://www.urjc.es/" target="_blank"><img src="assets/images/URJC.png" alt="Uni Rey Juan Carlos" id="logoURJC"></a></li>					
    </ul>

</footer>
