<footer style="background-color: #94C17D;">

  <h4><a href="http://translocations.in2p3.fr/index.php" target="_blank"><img src="assets/images/logo.png" alt="TransLoc logo" style="	height: 21px ; 
    margin: auto; 
    padding: auto; 
    box-shadow: 0px 2px 2px 0px #03251e, 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
    background: white;
    margin: 5px;
  "><strong>TransLoc Members</strong></a></h4>
    <p>Write an awesome description for your project partners here. You can edit this line in <button>
    <a href="https://github.com/ConservationTranslocation/conservationtranslocation.github.io/blob/linda/_includes/footer.html">here !</a></button> 
    </p>
  <ul style="  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  ">
    <li style="float: left;"><a href="http://www.cnrs.fr/" target="_blank"><img src="assets/images/CNRS.png" alt="CNRS" style="	height: 55px ; 
      margin: auto; 
      padding: auto; 
      box-shadow: 0px 2px 2px 0px #03251e, 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
      background: #94C17D;
      margin: 3px;
    "></a></li>
    <li style="float: left;"><a href="http://bbees.mnhn.fr/" target="_blank"><img src="assets/images/BBEES.png" alt="BBEES" style="	height: 55px ; 
      margin: auto; 
      padding: auto; 
      box-shadow: 0px 2px 2px 0px #03251e, 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
      background: #94C17D;
      margin: 3px;
    "></a></li>
    <li style="float: left;"><a href="http://www.mnhn.fr/fr" target="_blank"><img src="assets/images/MNHN.png" alt="MNHN" style="	height: 55px ; 
      margin: auto; 
      padding: auto; 
      box-shadow: 0px 2px 2px 0px #03251e, 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
      background: #94C17D;
      margin: 3px;
    "></a></li>
    <li style="float: left;"><a href="http://www.ese.u-psud.fr/" target="_blank"><img src="assets/images/ESE.png" alt="ESE" style="	height: 55px ; 
      margin: auto; 
      padding: auto; 
      box-shadow: 0px 2px 2px 0px #03251e, 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
      background: #94C17D;
      margin: 3px;
    "></a></li>
    <li style="float: left;"><a href="http://www.fpbm.ma/new/" target="_blank"><img src="assets/images/USMS.png" alt="Univ Sultan Moulay Slimane" style="	height: 55px ; 
      margin: auto; 
      padding: auto; 
      box-shadow: 0px 2px 2px 0px #03251e, 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
      background: #94C17D;
      margin: 3px;
    "></a></li>											
    <li style="float: left;"><a href="http://www.sorbonne-universites.fr/" target="_blank"><img src="assets/images/su.png" alt="Univ Sorbonne" style="	height: 55px ; 
      margin: auto; 
      padding: auto; 
      box-shadow: 0px 2px 2px 0px #03251e, 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
      background: #94C17D;
      margin: 3px;
    "></a></li>
    <li style="float: left;"><a href="https://www.biotope.fr/" target="_blank"><img src="assets/images/biotope.png" alt="Biotope" style="	height: 55px ; 
      margin: auto; 
      padding: auto; 
      box-shadow: 0px 2px 2px 0px #03251e, 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
      background: #94C17D;
      margin: 3px;
    "></a></li>
    <li style="float: left;"><a href="https://www.unibe.ch/index_eng.html" target="_blank"><img src="assets/images/bernU.png" alt="Bern University" style="	height: 55px ; 
      margin: auto; 
      padding: auto; 
      box-shadow: 0px 2px 2px 0px #03251e, 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
      background: #94C17D;
      margin: 3px;
    "></a></li>
    <li style="float: left;"><a href="https://www.universite-paris-saclay.fr/" target="_blank"><img src="assets/images/UPS.png" alt="Univ Saclay" style="	height: 55px ; 
      margin: auto; 
      padding: auto; 
      box-shadow: 0px 2px 2px 0px #03251e, 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
      background: #94C17D;
      margin: 3px;
    "></a></li>
    <li style="float: left;"><a href="https://www.slu.se/" target="_blank"><img src="assets/images/SLU.png" alt="Swedish University of Agricultural Sciences" style="	height: 55px ; 
      margin: auto; 
      padding: auto; 
      box-shadow: 0px 2px 2px 0px #03251e, 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
      background: #94C17D;
      margin: 3px;
    "></a></li>
    <li style="float: left;"><a href="http://www2.agroparistech.fr/" target="_blank"><img src="assets/images/APT.png" alt="AgroParisTech" style="	height: 55px ; 
      margin: auto; 
      padding: auto; 
      box-shadow: 0px 2px 2px 0px #03251e, 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
      background: #94C17D;
      margin: 3px;
    "></a></li>
    <li style="float: left;"><a href="https://anr.fr/" target="_blank"><img src="assets/images/ANR.png" alt="ANR" style="	height: 55px ; 
      margin: auto; 
      padding: auto; 
      box-shadow: 0px 2px 2px 0px #03251e, 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
      background: #94C17D;
      margin: 3px;
    "></a></li>
    <li style="float: left;"><a href="http://cc.in2p3.fr/" target="_blank"><img src="assets/images/CC.png" alt="IN2P3" style="	height: 55px ; 
      margin: auto; 
      padding: auto; 
      box-shadow: 0px 2px 2px 0px #03251e, 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
      background: #94C17D;
      margin: 3px;
    "></a></li>
    <li style="float: left;"><a href="http://cesco.mnhn.fr/" target="_blank"><img src="assets/images/cesco.png" alt="Cesco" style="	height: 55px ; 
      margin: auto; 
      padding: auto; 
      box-shadow: 0px 2px 2px 0px #03251e, 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
      background: #94C17D;
      margin: 3px;
    "></a></li>
    <li style="float: left;"><a href="https://www.fciencias-id.pt/" target="_blank"><img src="assets/images/FC.png" alt="FCiências.ID" style="	height: 55px ; 
      margin: auto; 
      padding: auto; 
      box-shadow: 0px 2px 2px 0px #03251e, 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
      background: #94C17D;
      margin: 3px;
    "></a></li>
    <li style="float: left;"><a href="https://www.uliege.be/cms/c_8699436/en/uliege" target="_blank"><img src="assets/images/liegeU.PNG" alt="ULiège" style="	height: 55px ; 
      margin: auto; 
      padding: auto; 
      box-shadow: 0px 2px 2px 0px #03251e, 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
      background: #94C17D;
      margin: 3px;
    "></a></li>						
    <li style="float: left;"><a href="https://www.urjc.es/" target="_blank"><img src="assets/images/URJC.png" alt="Uni Rey Juan Carlos" style="	height: 55px ; 
      margin: auto; 
      padding: auto; 
      box-shadow: 0px 2px 2px 0px #03251e, 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; 
      background: #94C17D;
      margin: 3px;
    "></a></li>		
    <button style="float: right;"><strong><a href="http://translocations.in2p3.fr/index.php" target="_blank"></a>Explore & Collaborate</strong></a></button>
	  </ul>

</footer>
