{%- assign projects = paginator.posts | default: site.posts -%}
{% for project in projects %}
  <article>
    {% include meta.html project=project preview=true %}
    {{ project.excerpt }}
    <div class="more"><a href="{{ project.url | relative_url }}">read more</a></div>
  </article>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <footer>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">« newer projects</a>{% else %}<span></span>{% endif %}
    <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}">older projects »</a>{% else %}<span></span>{% endif %}
  </footer>
{% endif %}
