<article>
  <header class="meta">
    {% if site.minimal != true and include.post.categories.size > 0 and include.preview != true %}
      <div class="categories">{{ include.post.categories | join: ", "  | upcase }}</div>
    {% endif %}
    <h1><a href="{{ include.post.url | relative_url }}">{{ include.post.title }}</a></h1>
    {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
    <time datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date: date_format }}</time>
  </header>
  {% if include.preview %}
    {{ include.post.excerpt }}
    <div class="more"><a href="{{ include.post.url | relative_url }}">read more</a></div>
  {% else %}
    {{ include.post.content }}
    {% if include.post.comments != false and site.comments.isso or site.comments.disqus %}
      <hr>
      {% if site.comments.isso %}<div id="isso-thread"></div>{% endif %}
      {% if site.comments.disqus %}<div id="disqus_thread"></div>{% endif %}
      <noscript>Please enable JavaScript to view comments.</noscript>
    {% endif %}
  {% endif %}
</article>
