#YUMMLY-YUM-IFRAME {
	width: 40px;
	height: 40px;
}

.photo {
    max-width: 280px;
    max-height: 280px;
    width: auto;
		height: auto;
}

.wide {
	float: left;
    max-width: 300px;
    max-height: 300px;
    width: auto;
	height: auto;
	width: 100%;
}

.button, input[type="submit"] {
	background: #fff;
	cursor: pointer;
	border: 1px solid #666;
	color: #000;
	text-decoration: none;
	padding: 5px 10px;
	display: inline-flex;
  align-items: flex-end;
	margin: 0;
	font-size: .8em;

	&:hover {
		background: #000;
		color: #fff;
	}

	&:focus {
		outline: none;
	}
}

.button {
	border-color: #000;

	a {
		color: #000;

		&:hover {
			color: #fff;
		}
	}
}

ol li + li {
	margin: 20px 0 0 0;
}



.post {
	h1 a {
		color: #fff;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
	time {
		padding: 0 0 20px 0;
		display: block;
	}
  .recipe-author {
		padding: 0;
		margin: 0;
		margin-bottom: -.5em;
		font-size: small;
	}
	.recipe-overview {
		padding: 0;
		margin: 0;

		svg {
			position: relative;
			top: 6px;
		}

		span {
			margin: 0 18px 0 3px;
		}

		li {
			list-style: none;
			padding: 0;
			margin: 0;

			@media #{$desktop} {
				display: inline-block;
			}
		}
	}

	.recipe-contents {
		@media #{$desktop} {
			display: flex;
		}

		ul {
			padding: 0;
			li {
				list-style-type: none;
				&:before {
					content: '\00bb';
					color: #59abe3;
					padding-right: 0.5em;
				}
			}
		}

		ol {
			padding: 0;
			li{
				counter-increment: step-counter;
				list-style-type: none;
				position: relative;
				margin-left: 34px;

				&:before {
					content: counter(step-counter);
					margin-right: 0px;
					background-color: #59abe3;
					color: white;
					/* padding: 1px 7px; */
					font-size: .7em;
					position: absolute;
					left: -34px;
					top: 3px;
					width: 25px;
					text-align: center;
				}
			}
		}
		.ingredients {
			width: 250px;
			padding: 0 43px 0 0;
		}

		.directions {
			@media #{$desktop} {
				flex: 1;
			}
		}
	}
}


.sharing {
	margin: 50px 0 0 0;
	text-align: center;
	font-size: 0;

	a {
		text-decoration: none;
		text-align: center;
		position: relative;
		width: 56px;
		display: inline-block;
		height: 44px;
		line-height: 0;
		padding: 0;
		margin: 0;
		display: inline-flex;
		align-items: center;
		justify-content: center;

		&:hover {
			&:before {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(0, 0, 0, .25);
				content: "";
			}
		}

		svg {
			fill: #fff;
		}

		&.email {
			background-color: #ff9d09;
		}

		&.facebook {
			background-color: #3b5998;
		}

		&.twitter {
			background-color: #55acee;
		}

		&.google-plus {
			background-color: #db4437;
		}

		&.youtube {
			background-color: #cd201f;
		}

		&.instagram {
			background-color: #f167f5;
		}

		&.linkedin {
			background-color: #0077b5;
		}

		&.pinterest {
			background-color: #C92228;
		}

		&.pinterest-icon:hover svg {
			fill: #bd081c;
		}
	}
}

.cta {
	text-align: center;
	padding: 50px 0 0 0;
}

.rating{
	color: #c9f227;
}
