---
---

@import index, highlight

.archive
  font-size: 1.1em

.archive time
  display: inline-block
  min-width: 10ch
  margin: 0 .2em

{% unless site.minimal %}

.categories
  color: $link-color
  margin-bottom: .15em

{% endunless %}

{% unless site.navigation and site.external %}

.title
  font-size: 1.3em

{% endunless %}

{% if site.sidebar %}

.hidden
  display: none

{% endif %}

{% if site.sidebar or site.external %}

.icons svg
  height: 1em
  width: 1em
  fill: currentColor
  transition: .2s color
  vertical-align: middle
  margin-bottom: .15em

{% endif %}

{% if site.show_excerpts %}

.more
  margin: 2em 0 1em

.more a
  border-radius: 2px
  border: 1.5px solid $link-color
  padding: .4em .8em
  transition: .2s

.more a:hover
  color: #fff
  background: $link-color
  text-decoration: inherit

{% endif %}

{% if site.show_related %}

.related div
  flex: 1 0 15em

.related span
  display: block
  color: reduce(100)

.related a
  font-size: 1.2em
  font-weight: bold

@media (min-width: 30em)
  .next
    text-align: right

{% endif %}

{% if site.show_title and site.navigation and site.external %}

.title
  font-size: 1.5em
  width: 100%
  margin: .1em 0 .6em

{% endif %}

{% unless site.sidebar %}

.icons a:hover svg
  color: reduce(100)

@media (min-width: 70em)
  .large
    margin: 1em -20%
  
  .large img
    width: 100%

{% endunless %}
