---
---

@import anchor

body > header, article, body > footer
  padding: 1.5em calc(27.5% - 5rem)

article, body > footer
  border-top: 1px solid reduce(10)

article
  background: reduce(2)

body > header
  box-shadow: 0 0 2em rgba(60,60,60,.05)

body > footer
  background: reduce(7)
  color: reduce(100)
