---
---

@import index, font, basic, layout, classes, molokai

html
  background: dark(86)
  padding: 0 calc(38% - 22em)

body
  box-shadow: 0 0 1em reduce(15)

body > header, body > footer
  background: dark(12)
  color: $light

@media (min-width: 32em)
  body > *
    padding: 1.75em calc(22% - 6em)

@media (prefers-color-scheme: dark)
  html
    background: dark(2)
  body, body > header, body > footer, body > article
    background: dark(4)
    box-shadow: 0 0 0 1px dark(16)
