---
---

body
  display: flex
  min-height: 100vh

nav
  margin: 0.5em 0

table
  width: 100%

h1
  font-size: 1.7em

{% if site.navigation and site.icons %}

body > header h1
  width: 100%
  margin-top: 0.1em
  margin-bottom: 0.5em

{% else %}

body > header h1
  font-size: 1.6em
  margin: 0

{% endif %}

article header
  display: block
  margin-bottom: 1.5em

article header h1
  margin: 0.2em 0

article footer
  padding: 1em 0
