---
---

@import utils

body
  font-size: calc(0.8rem + 0.3vw)
  padding: 0 0 0 16.5em
  background: light(100, 8)

body > header, body > footer
  display: none

body > article
  margin: 0
  padding: 2em 5em
  max-width: 50em
  box-shadow: none

aside
  display: flex!important
  flex-direction: column
  position: fixed
  overflow: auto
  background: light(6)
  box-shadow: 0 0 0 1px light(14)
  color: light(100)
  margin: 0
  padding: 2.25em
  width: 12em
  top: 0
  bottom: 0
  left: 0

nav
  margin: 0 -2.25em

nav a
  display: block
  font-weight: inherit
  margin: 0
  padding: .5em 2.25em

nav a:hover, nav a.selected
  background: light(12)
  text-decoration: inherit

nav svg
  margin-right: 1.2em
  vertical-align: text-top
