---
---

@import index

body > header, article, body > footer
  padding: 1.5em

@media (min-width: 40em)
  body > header, article, body > footer
    padding: 1.5em calc(34% - 12rem)

article header h1
  margin-bottom: .7em
  border-bottom: 1px solid reduce(16)

{% if site.dark_header %}

body > header
  background: lighten($dark, 1%)
  color: #fff
  border-bottom: 1px solid rgba($light, 0.04)

{% else %}

body > header
  box-shadow: 0 0 .6em rgba($dark, 0.06)
  border-bottom: 1px solid reduce(16)

{% endif %}

{% if site.show_footer %}

@import anchor, footer

{% if site.dark_footer %}

body > footer
  background: rgba($dark, 0.9)
  color: #aaa
  border-top: 1px solid rgba($light, 0.05)

{% else %}

body > footer
  box-shadow: 0 0 .6em rgba($dark, 0.05) inset
  color: reduce(100)
  border-top: 1px solid reduce(10)

{% endif %}

{% endif %}
