{{ partial "header.html" . }}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}{{ .Site.Params.defaultHeaderImage }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                      <h1>{{ .Title }}</h1>
                        <hr class="small">
                        <span class="subheading">{{ .Description }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
 <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<a name="top"></a>
{{ $pageUrl := .RelPermalink | urlize }}
{{ .Content }}

{{ if not (eq (len $.Site.Taxonomies.categories) 0) }}
{{ $fontUnit := "rem" }}
{{ $largestFontSize := 1.5 }}
{{ $smallestFontSize := .8 }}
{{ $fontSpread := sub $largestFontSize $smallestFontSize }}
{{ $max := add (len (index $.Site.Taxonomies.categories.ByCount 0).Pages) 1 }}
{{ $min := len (index $.Site.Taxonomies.categories.ByCount.Reverse 0).Pages }}
{{ $spread := sub $max $min }} {{ $fontStep := div $fontSpread $spread }}
{{ $fontStep := div $fontSpread $spread }}

<div>
    <div class="tagcloud03">
        <ul>
            {{ range $name, $taxonomy := $.Site.Taxonomies.categories }}
            {{ $currentTagCount := len $taxonomy.Pages }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $currentTagCount $min) $fontStep) ) }}
            {{ $count := len $taxonomy.Pages }}
            {{ $weight := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weight) ) }}
            <li>
                <a href="{{ $pageUrl }}#{{ $name | urlize}}">{{ $name }}
                    <span>{{ $currentTagCount }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
    <div>
        {{ range $name, $taxonomy := $.Site.Taxonomies.categories }}
        {{ $currentTagCount := len $taxonomy.Pages }}
        {{ $currentFontSize := (add $smallestFontSize (mul (sub $currentTagCount $min) $fontStep) ) }}
        {{ $count := len $taxonomy.Pages }}
        {{ $weight := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
        {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weight) ) }}

        <h3>
            <a name="{{ $name }}"></a>{{ $name}}
            <i class="badge">{{ $currentTagCount }}</i>
        </h3>
        <ul class="list-group">
            {{ range $taxonomy.Pages }}
            <li class="list-group-item">
                <a href="{{ .RelPermalink }}">
                    {{ .Title }} {{ if .Params.subheadline }} ({{ .Params.subheadline }}){{ end }} -
                    <small>{{ .PublishDate.Format "Jan 02, 2006" }} </small>{{ if (.Draft ) }} - DRAFT {{ end }}</a>
            </li>
            {{ end }}
        </ul>

        <a href="{{ $pageUrl }}#top">
            <small>back to top</small>
        </a>
        {{ end }}
    </div>
</div>
{{ end }}

           </div>
        </div>
    </div>


{{ partial "footer.html" . }}
