---
layout: default
---
{%- assign posts = paginator.posts | default: site.posts -%}
{%- assign date_format = site.date_format | default: "%B %d, %Y" -%}

{% if site.show_excerpts %}
{% for post in posts %}
<article>
  <header>
    <h1><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
  </header>
  {{ post.excerpt }}
</article>
{% endfor %}
{% else %}
<article>
  <header><h1>Posts</h1></header>
  <ul class="archive">
    {% for post in posts %}
    <li>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {{ content }}
</article>
{% endif %}

{% if paginator.total_pages > 1 %}
<footer>
  <a {% if paginator.previous_page %}class="gray" href="{{ paginator.previous_page_path | relative_url }}"{% else %}class="disabled"{% endif %}>« newer posts</a>
  <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  <a {% if paginator.next_page %}class="gray" href="{{ paginator.next_page_path | relative_url }}"{% else %}class="disabled"{% endif %}>older posts »</a>
</footer>
{% endif %}
