---
layout: default
---

<article>
  {% include meta.html post=page %}
  {{ content }}
  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>

{% unless site.footer %}
{% if page.next.url or page.previous.url %}
<footer class="gray">
  {% if page.next.url %}<a href="{{ page.next.url | relative_url }}">«&nbsp;{{ page.next.title }}</a>{% else %}<span></span>&numsp;{% endif %}
  {% if page.previous.url %}&numsp;<a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }}&nbsp;»</a>{% else %}<span></span>{% endif %}
</footer>
{% endif %}
{% endunless %}
