---
layout: page
---
		<link rel="stylesheet" media="screen" href="{{ site.url }}/css/screen.css">
		{% if page.print_stylesheet %}
			<link rel="stylesheet" media="print" href="{{ site.url }}/css/print.css">
		{% endif %}
		<link rel="stylesheet" media="screen" href="{{ site.url }}/css/recipe-list.css">
		<script src="{{ site.url }}/js/lazysizes.min.js" async=""></script>

        <div class="image-grid">
        {% for i in (0..5) reversed %}
        	{% for recipe in site.data.recipes %}
            {% if recipe.rating == i and recipe.image_url %}
            	{% for category in recipe.categories %}
              	{% if category == "Web" %}
            			<a class="image-container" href="{{ recipe.name | downcase | replace: " ", "-" | replace: "á", "a" | remove: "(" | remove: ")" | remove: "[" | remove: "]" | remove: "'" | remove: "&" | remove: "!" | remove: "’" | remove: ","  }}.html">
										{% responsive_image_block %}
										  path: assets/{{ recipe.image_url }}
										  alt: {{ recipe.name }}
										  {% if recipe.name %}
										  title: {{ recipe.name }}
										  {% endif %}
										{% endresponsive_image_block %}
										<!-- <img class="photo-large lazysizes" data-src="{{ recipe.image_url | default: "" }}"> -->
                		<div class="bottom-left"><h3 class="text-hover"><b>{{ recipe.name }}</b></h3></div>
            			</a>
                {% endif %}
              {% endfor %}
    		    {% endif %}
          {% endfor %}
        {% endfor %}
        </div>
